<div id="video-container" class="animated">

</div>

<div class="main-play">
	<span class="glyphicon glyphicon-play">		
	</span>
</div>


<div class="meet-paul animated">
	<h1>Meet Paul Gaudin</h1>
</div>


<div id="scientist-slide" class="animated slideInLeft no-display">
	<h1 class="scientist-musician animated">A scientist and musician</h1>
	<h1 class="developer no-display animated rotateInDownLeft">turned Full Stack Developer</h1>
</div>

<div id="creativity">
</div>

<div id="spirit-container">
	<div id="spirit" class="animated col-12-sm no-display">Whose creativity and entrepreneurial spirit</div>
</div>
<div id="unexplored" class="animated no-display">
<!-- 	<h1 id="unexplored-text">Unexplored</h1> -->
</div>


<h1 class="technologies" id="AngularJS">Angular</h1>
<h1 class="technologies" id="HTML">HTML5/CSS3</h1>
<h1 class="technologies" id="jQuery">jQuery</h1>
<h1 class="technologies" id="nodeJS">nodeJS</h1>
<h1 class="technologies" id="postgres">PostgreSQL</h1>
<h1 class="technologies" id="mongoDB">mongoDB</h1>
<h1 class="technologies" id="bootStrap">Bootstrap</h1>
<h1 class="technologies" id="photoshop">Adobe Photoshop</h1>
<h1 class="technologies" id="git">Git & Github</h1>
<h1 class="technologies" id="ionic">Ionic</h1>
<h1 class="technologies" id="meteor">Meteor</h1>
<h1 class="technologies" id="xCode">xCode</h1>
<h1 class="technologies" id="cocoa">Cocao & Cocoa Touch</h1>
<h1 class="technologies" id="swift">Swift 2</h1>


<div id="pursuit">
	<div class="panels" id="cover-1"></div>
	<div class="panels" id="cover-2"></div>
	<div class="panels" id="cover-3"></div>
	<div class="panels" id="cover-4"></div>
	<div class="panels" id="cover-5"></div>
</div>

<div id="andPursing">And pursing the path..</div>
